<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!-- Header -->
  <div id="body">
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" src="assets/icon/foot.jpg" width="100%" height="450px">
    
  </header>
  
  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width:1564px">
  
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 id="news" class=" w3-padding-16">NEWS</h3>
    </div>
  
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <button (click)="news()">
          <div class="w3-display-topleft w3-black w3-padding">Marvelous Messi </div>
          <img src="assets/icon/messi.png" alt="House" style="width:100%;height: 300px" >
        </button>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <button (click)="news()">
          <div class="w3-display-topleft w3-black w3-padding">Ronaldooooo</div>
          <img src="assets/icon/cr.jpg" alt="House" style="width:100%; height: 300px">
          </button>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <button (click)="news()">
          <div class="w3-display-topleft w3-black w3-padding">Rashi winner sinks</div>
          <img src="assets/icon/rash.jpg" alt="House" style="width:100%;height: 300px">
        </button>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <button (click)="news()">
          <div class="w3-display-topleft w3-black w3-padding">Pep</div>
          <img src="assets/icon/pep1.jpg" alt="House" style="width:100%;height: 300px">
        </button>
        </div>
    </div>
  </div>