<!-- Sidenav container -->
<mat-sidenav-container>

  <!-- Header desktop/laptop layout platform -->
  <mat-sidenav-content>
    <mat-toolbar>
      <!-- Sidenav toggle -->
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="icon">menu</mat-icon>
        </button>
      </div>
      <!-- Sidenav toggle -->

      <div>
        <img id="goal360" src='assets/icon/goal360.jpeg'>
      </div>

      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">

          <!-- Home route-->
          <li>
            <a [routerLink]="['/']" routerLinkActive="menu-item-active"
              [routerLinkActiveOptions]="{ exact: true }">
              <span class="label" style="margin-left: 5px;">Home</span>
            </a>
          </li>
          <!-- Home route-->

      <!-- Fixtures -->
      <a mat-list-item>
        <span mat-button [matMenuTriggerFor]="Fixtures" class="label" style="margin-left: 7px;">
          Fixtures
        </span>

        <mat-menu #Fixtures="matMenu">

          <!-- Premier League route -->
          <a mat-menu-item [routerLink]="['/premier_league']" routerLinkActive="fixtures-active" >
            Premier League
          </a>
          <!-- Premier League route -->

          <!-- La Liga route -->
          <a mat-menu-item [routerLink]="['/la_liga']" routerLinkActive="fixtures-active">
            La Liga
          </a>
          <!-- La Liga route -->

          <!-- Bundesliga route -->
          <a mat-menu-item [routerLink]="['/fix_bundesliga']" routerLinkActive="fixtures-active">
            Bundesliga
          </a>
          <!-- Bundesliga route -->

          <!-- Serie A route -->
          <a mat-menu-item [routerLink]="['/serie_a']" routerLinkActive="fixtures-active">
            Serie A
          </a>
          <!-- Serie A route -->

          <!-- Ligue 1 route -->
          <a mat-menu-item [routerLink]="['/ligue_1']" routerLinkActive="fixtures-active">
            Ligue 1
          </a>
          <!-- Ligue 1 route -->

        </mat-menu>

      </a>
      <!-- Fixtures -->
          

          <!-- Standings -->
          <a>
            <span mat-button [matMenuTriggerFor]="standings" class="label" style="margin-left:5px; ">
              Standings
            </span>

            <mat-menu #standings="matMenu">

              <!-- Premier League route -->
              <a mat-menu-item [routerLink]="['/premier-league']" routerLinkActive="standing-active">
                Premier League
              </a>
              <!-- Premier League route -->

              <!-- La Liga route -->
              <a mat-menu-item [routerLink]="['/la-liga']" routerLinkActive="standing-active">
                La Liga
              </a>
              <!-- La Liga route -->

              <!-- Bundesliga route -->
              <a mat-menu-item [routerLink]="['/bundesliga']" routerLinkActive="standing-active">
                Bundesliga
              </a>
              <!-- Bundesliga route -->

              <!-- Serie A route -->
              <a mat-menu-item [routerLink]="['/serie-a']" routerLinkActive="standing-active">
                Serie A
              </a>
              <!-- Serie A route -->

              <!-- Ligue 1 route -->
              <a mat-menu-item [routerLink]="['/ligue-1']" routerLinkActive="standing-active">
                Ligue 1
              </a>
              <!-- Ligue 1 route -->

            </mat-menu>

          </a>
          <!-- Standings -->
          <!--Live Score-->
          <a mat-list-item [routerLink]="['/live']" routerLinkActive="menu-item-active">
          <span class="label">Live</span>
          </a>
          <!--Live Score-->
          <!--Result-->
          <a mat-list-item [routerLink]="['/result']" routerLinkActive="menu-item-active">
            <span class="label">Results</span>
            </a>
            <!--Result-->
          <!-- About route-->
          <li>
            <a [routerLink]="['/about']" routerLinkActive="menu-item-active">
              <span class="label" style="margin-left: 5px;">About</span>
            </a>
          </li>
          <!-- About route-->

        </ul>
      </div>

    </mat-toolbar>
  </mat-sidenav-content>
  <!-- Header desktop/laptop layout platform -->

</mat-sidenav-container>
<!-- Sidenav container -->
  